-#Sidebar
%h5 Quick Links
%ul.list-group 
  %li.list-group-item= link_to "Employees", employees_path  
  %li.list-group-item= link_to "Add new Employee", new_employee_path
  %li.list-group-item= link_to "Add new Work", new_work_path