- content_for :head do
  %title Employees Information

%h3 Employees Info
%hr
%h4 List of all Employees
%ul
  = render partial: "employee", collection: @employees

- content_for(:aside) do
  = render "sidebar"