<h3>Employees Info</h3>
<hr>
<h4>List of all Employees</h4>

<ol>
<% @employees.each do |e| %>
	<li>
	<% full_name = e.first_name + " " + e.last_name %>
	<%= link_to full_name, e %>	
	</li>
<% end %>
</ol>