%strong Work Details
%table.table.table-hover
  %thead
    %tr
      %th Employee
      %th Project
      %th Client
      %th Date time
      %th Hours
  %tbody
    = render partial: "works/work", collection: @employee_works    
= will_paginate @employee_works

- content_for(:aside) do
  = render "sidebar"