- content_for :head do
  %title #{@employee} work details

%strong Work Details
%table.table.table-hover
  %thead
    %tr
      %th Employee
      %th Project
      %th Client
      %th Date time
      %th Hours
  %tbody
    = render partial: "works/works", collection: @employee_works    
= will_paginate @employee_works

- content_for(:aside) do
  = render "sidebar"