-#Sidebar
%h5 Quick Links
%ul.list-group 
	%li.list-group-item= link_to "Employees", employees_path
	%li.list-group-item= link_to "All works", works_path
	%li.list-group-item= link_to "Add new work", new_work_path