%h3 Works Info
%hr
%h4 All Works details
%table.table.table-hover
  %tr
    %th Employee
    %th Project
    %th Date
    %th Work details
    %th Hours

  = render partial: "work", collection: @works
= will_paginate @works
