<h4>Work Details</h4>
<hr>
<p>
	<strong>Work details:</strong> <%= (@work != nil) ? @work.work_details  : "Sorry, no Work is found with that ID" %><br/>	
	<strong>Work hours:</strong> <%= (@work != nil) ? @work.work_hours  : "Sorry, no Work is found with that ID" %>	<br/>
	<%= link_to "Back to Works", works_path %>	
</p>
