%h5 Quick Links
%ul.list-group 
	%li.list-group-item= link_to "Clients", clients_path
	%li.list-group-item= link_to "Projects", projects_path
	%li.list-group-item= link_to "Add new Client", new_client_path