- content_for :head do
  %title Clients Information

%h3 Clients Information
%hr
%h4 List of all Clients
%ul
  = render partial: "client", collection: @clients

- content_for(:aside) do
  = render "sidebar"