%h5 Quick Links
%ul.list-group 
  %li.list-group-item= link_to "All Projects", projects_path
  %li.list-group-item= link_to "Add New Project", new_project_path
  %li.list-group-item= link_to "Add new Work", new_work_path