- content_for :head do
  %title Projects Information

%h3 Projects Information
%hr
%h4 All Projects
%table.table.table-hover
  %thead
    %tr
      %th Project
      %th Default Rate
  %tbody
    = render partial: "project", collection: @projects

- content_for (:aside) do
  = render "sidebar"