- content_for :head do
  %title Project Details

%h4 Project Details
%p
  %ul
    %li
      %strong Project Name: 
      #{@project.name}
    %li
      %strong Default Rate: 
      #{@project.default_rate}
    %li
      %strong All the work done: 
      #{link_to "Details", {:controller => 'projects', :action => 'works'}}

- content_for(:aside) do
  = render "sidebar"