- content_for :head do
  %title Companies Information

%h3 Companies Information
%hr
%h4 List of all Companies
%ul
  = render partial: "company", collection: @companies

- content_for(:aside) do
  = render "sidebar"