<h4>Compnay Details</h4>
<hr>
<p>
	<strong>Company Name:</strong> <%= (@company != nil) ? @company.name : "Sorry, no company is registered with that ID" %><br/>
</p>
	<%= link_to "Back to Companies", companies_path %>	