- content_for :head do
  %title #{@company.name} details

%h4 Compnay Details
%hr
%p= link_to "Edit Company", edit_company_path(@company)
%p
  %strong Company Name:
  = @company.name
  
%br
- content_for :aside do
  = render "sidebar"